<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">Category Entry</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="cate">
        <h4 class="navbar-brand">Category</h4>
    </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/categoryentry" routerLinkActive="active">Entry</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/categorylist" routerLinkActive="active">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/categorydetail" routerLinkActive="active">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/categorydelete" routerLinkActive="active">Delete</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/categoryupdate" routerLinkActive="active">Update</a>
          </li>
        </ul>
      </div>
    </div>
 </nav>
<br>
<br>


<p>List Page</p>
<div>
    <table>
        <tr>
            <td><label>Category ID</label></td>
            <td>:</td>
            <td><input type="number" id="txtCid" [(ngModel)]="txtCid" /></td>
        </tr>
        <tr>
            <td><label>Category Name</label></td>
            <td>:</td>
            <td><input type="text" id="txtCname" [(ngModel)]="txtCname"/></td>
        </tr>
        <tr>
            <td><label>Range</label></td>
            <td>:</td>
            <td><input type="text" id="txtRange" [(ngModel)]="txtRange"/></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><button (click)="SaveCategory1()" >Save</button></td>
        </tr>
    </table>
</div>
