
<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-dark bg-primary">
  <div class="container">
    <h4 class="navbar-brand" >Admin</h4>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productentry" routerLinkActive="active">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categoryentry" routerLinkActive="active" >Category</a>
        </li>
       
      </ul>
    </div>  
  </div>
</nav>

<br><br><br><br>



<router-outlet></router-outlet>