<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Product Details</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productentry" routerLinkActive="active">Entry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productlist" routerLinkActive="active">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productdetail" routerLinkActive="active">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productdelete" routerLinkActive="active">Delete</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productupdate" routerLinkActive="active">Update</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br>
<br>
<br>
<br>
<div class="cointainer">
<table class="table">
  <thead>
      <tr>
          <td>
            Product_Id 
          </td>
          <td>
            Product_Name 
          </td>
          <td>
            Processor 
          </td>
          <td>
            CountryOfOrgin 
          </td>
          <td>
            Price
          </td>
          
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let product of products">
          <td>
              {{product.Product_Id}}
          </td>
          <td>
            {{product.Product_Name}}
        </td>
        <td>
          {{product.Processor}}
      </td>
      <td>
        {{product.CountryOfOrgin}}
    </td>
    <td>
      {{product.Price}}
  </td>
 
      </tr> 
  </tbody>
</table>
</div>